.maingrid {
	display: grid;
	grid-template-rows: 3em auto;
	height: 100vh;
}

#eventGrid {
	display: grid;
	grid-template-columns: 400px auto;
	height: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

#eventList .event {
	cursor: pointer;
	margin: 1em;
}