.maingrid {
	display: grid;
	grid-template-rows: 3em auto;
	height: 100vh;
}

#eventGrid {
	display: grid;
	grid-template-columns: 400px auto;
	height: 100%;
}

#map {
	position: relative;
	height: 100%;
	width: 100%;
}

#eventList .event {
	cursor: pointer;
	margin: 1em;
}

.mapCenter {
	position: absolute;
	top: 45px;
	left: 45px;
	width: 10px;
	height: 10px;
	border: 1px solid black;
}

.SpawnpointMarker {
	position: absolute;
	width: 3px;
	height: 3px;
	border: 1px solid red;
}

input[type="checkbox"] { height:auto }